{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}
{%block content%}
    <div class="container">
        <div class="jumbotron col-lg-6 col-sm-10 container" style="padding-bottom: 60px;">
            <h1>Изменение пароля</h1>
            <hr>
            <p>Пожалуйста введите ваш старый пароль, для проверки безопастности, и введите ваш новый пароль</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Изменить пароль" >
            </form>
        </div>
    </div>
{% endblock %}